#!/bin/bash

cd /etc/ansible/cluster/

{% if custom_local_kubecfg_file is defined and custom_local_kubecfg_file|length > 0 %}
KUBECONFIG=${PWD}/custom-kubecfg/{{ custom_local_kubecfg_file }}
{% else %}
KUBECONFIG=${PWD}/{{ host_groups }}/rke/kube_config_cluster.yml
{% endif %}

kubectl --kubeconfig=${KUBECONFIG} create namespace cattle-system

{% if rancher_access_type == 'url' and rancher_external_ssl|bool == false %}
############# 域名+ingress访问模式 #############
{% if ssl_certs_type|int == 1 %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
    --set hostname={{ rancher_url|lower }} \
    --set ingress.tls.source=secret \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set privateCA=true
{% endif %}

{% if ssl_certs_type|int == 2 and ssl_cert_path is defined and ssl_key_path is defined %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
    --set hostname={{ rancher_url|lower }} \
    --set ingress.tls.source=secret \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set privateCA=true
{% endif %}

{% if ssl_certs_type|int == 3 and ssl_cert_path is defined and ssl_key_path is defined %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
    --set hostname={{ rancher_url|lower }} \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set ingress.tls.source=secret
{% endif %}
{% endif %}

{% if rancher_access_type == 'url' and rancher_external_ssl|bool == true %}
############# 域名+外部负载均衡+nodeport访问模式 #############
{% if ssl_certs_type|int == 1 %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
    --set tls=external \
    --set service.type=NodePort \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set privateCA=true \
    --set service.ports.nodePort={{ nodeport_http }}

echo "配置./{{ host_groups }}/certs/tls.crt和./{{ host_groups }}/certs/tls.key到外部七层负载均衡器上。"
{% endif %}

{% if ssl_certs_type|int == 2 %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
    --set tls=external \
    --set service.type=NodePort \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set privateCA=true \
    --set service.ports.nodePort={{ nodeport_http }}

echo "配置./custom-certs/{{ ssl_cert_path }}和./custom-certs/certs/{{ ssl_key_path }}到外部七层负载均衡器上。"
{% endif %}

{% if ssl_certs_type|int == 3 %}
# 权威证书
helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set service.type=NodePort \
    --set service.ports.nodePort={{ nodeport_http }}
{% endif %}
{% endif %}

{% if rancher_access_type == 'ip' %}
############# ip+nodeport访问模式 #############
{% if ssl_certs_type|int == 1 %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set service.type=NodePort \
    --set service.ports.nodePort={{ nodeport_https }} \
    --set privateCA=true
{% endif %}

{% if ssl_certs_type|int == 2 and ssl_cert_path is defined and ssl_key_path is defined %}

helm --kubeconfig=${KUBECONFIG} upgrade rancher \
    /etc/ansible/cluster/templates/{{ rancher_version }} \
    --namespace cattle-system \
    --set rancherImage={{ rancherImage }} \
    --set busyboxImage={{ busyboxImage }} \
{% if rancherImageTag|length > 0 %}
    --set rancherImageTag={{ rancherImageTag }} \
{% endif %}
{% if privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
    --set privateRegistry=true \
    --set systemDefaultRegistry={{ systemDefaultRegistry|lower }} \
{% endif %}
    --set useBundledSystemChart={{ useBundledSystemChart|lower }} \
{% if noProxy is defined and noProxy|length > 0 %}
    --set noProxy={{ noProxy }} \
{% endif %}
{% if proxy is defined and proxy|length > 0 %}
    --set noProxy={{ proxy }} \
{% endif %}
{% if ingress_configurationSnippet is defined and ingress_configurationSnippet|length > 0 %}
    --set ingress.configurationSnippet={{ ingress_configurationSnippet }} \
{% endif %}
{% if imagePullSecrets is defined and imagePullSecrets|length > 0 %}
    --set imagePullSecrets={{ imagePullSecrets }} \
{% endif %}
{% if debug is defined and debug|bool == true %}
    --set debug={{ debug }} \
{% endif %}
{% if auditLog_hostPath is defined and auditLog_hostPath|length > 0 %}
    --set auditLog.hostPath={{ auditLog_hostPath }} \
{% endif %}
{% if auditLog_level is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.level={{ auditLog_level }} \
{% endif %}
{% if auditLog_maxAge is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxAge={{ auditLog_maxAge }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
{% if auditLog_maxSize is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxSize={{ auditLog_maxSize }} \
{% endif %}
{% if auditLog_maxBackups is defined and ingress_extraAnnotations|length > 0 %}
    --set auditLog.maxBackups={{ auditLog_maxBackups }} \
{% endif %}
    --set service.type=NodePort \
{% if nodeport_https is defined and nodeport_https|length > 0 %}
    --set service.ports.nodePort={{ nodeport_https }} \
{% endif %}
    --set privateCA=true
{% endif %}
{% endif %}
