#!/bin/bash

command_exists() {
	command -v "$@" > /dev/null 2>&1
}
get_distribution() {
	lsb_dist=""
	if [ -r /etc/os-release ]; then
		lsb_dist="$(. /etc/os-release && echo "$ID")"
	fi
	echo "$lsb_dist"
}

if command_exists docker && [ -e /var/run/docker.sock ]; then

    docker_version=$( docker -v|awk -F, '{print $1}'|awk '{print $3}'|awk -F. '{print $1"."$2}' )
    if ! [ $docker_version = '19.03' ] || [ $docker_version = '18.06' ] || [ $docker_version = '18.09' ] ; then
        echo 'Invalid docker version'
    fi
else
    echo 'not install docker'
    exit
fi

if docker info | grep -qiE 'overlay2'; then
    touch /etc/docker/daemon.json
    cat > /etc/docker/daemon.json <<EOF
    {
{% if docker_bip is defined and docker_bip|length > 0 %}
        "bip": "{{ docker_bip }}",
{% endif %}
        "log-driver": "json-file",
        "log-opts": {
            "max-size": "100m",
            "max-file": "3"
        },
{% if privateRegistry is defined and privateRegistry|bool == true and systemDefaultRegistry|length > 0 %}
        "insecure-registries": ["{{ systemDefaultRegistry }}"],
{% else %}
        "insecure-registries": ["0.0.0.0/0"],
{% endif %}
        "oom-score-adjust": -1000,
        "max-concurrent-downloads": 10,
        "max-concurrent-uploads": 10,
{% if docker_registry_mirrors is defined and docker_registry_mirrors|length > 0 %}
        "registry-mirrors": ["{{ docker_registry_mirrors }}"],
{% endif %}
        "storage-driver": "overlay2",
        "storage-opts": [
            "overlay2.override_kernel_check=true"
        ]
    }
EOF
    systemctl daemon-reload && systemctl restart docker
else
    touch /etc/docker/daemon.json
    cat > /etc/docker/daemon.json <<EOF
    {
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "100m",
        "max-file": "3"
    },
{% if privateRegistry is defined and privateRegistry|bool == true %}
    "insecure-registries": ["{{systemDefaultRegistry}}"],
{% endif %}
    "oom-score-adjust": -1000,
    "max-concurrent-downloads": 10,
    "max-concurrent-uploads": 10,
{% if docker_registry_mirrors is defined and docker_registry_mirrors|length > 0 %}
    "registry-mirrors": ["{{docker_registry_mirrors}}"]
{% endif %}
    }
EOF
    systemctl daemon-reload && systemctl restart docker
fi